<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Natural Language Processing</title>
        <!-- Load Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Merriweather&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="heading">
                <h1>Natural Language Processing</h1>
            </div>
        </header>

        <main>
            <section class="formSection">
                <form name="mcForm" onsubmit="return Client.handleSubmit(event)">
                    <div class="formDiv">
                        <div class="radioButtons">
                            <input type="radio" id="url" name="inputRadio" value="url" checked="checked">
                            <label for="url">URL</label><br>
                            <input type="radio" id="txt" name="inputRadio" value="txt">
                            <label for="txt">Text</label><br>
                        </div>

                        <input id="inputURL" type="text" name="url" placeholder="Enter url">
                        <textarea name="inputText" id="inputText" cols="30" rows="6" placeholder="Enter text"></textarea>
                        <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                    </div>
                </form>
            </section>

            <section class="resultSection">
                <div class="results">
                    <strong>Form Results:</strong>
                    <div id="polarity" class="result"></div>
                    <div id="subjectivity" class="result"></div>
                    <div id="irony" class="result"></div>
                    <div id="agreement" class="result"></div>
                    <div id="confidence" class="result"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>&copy; Axel Smidt</p>
        </footer>

    </body>
</html>
