@import "variables";

.formSection {
    margin-top: 20px;
}

.formDiv {
    background: $form_bg_color;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #545454;
    border-radius: $border_radius;
    padding: $form_padding;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);

    .radioButtons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 5px;
        color: $form_text_color;
    }
    
    #inputURL {
        display: block;
    }
    
    #inputText {
        display: none;
    }

    textarea {
        border: 1px solid #979797;
        font-size: 1rem;
        padding: 10px 20px;
        line-height: 16px;
        border-radius: $border_radius;
    }

    input {
        border: 1px solid #979797;
        font-size: 1rem;
        padding: 10px 20px;
        line-height: 16px;
        border-radius: $border_radius;
    }

    input[type="submit"] {
        background: rgb(224, 239, 255);

        &:hover {
            transform: scale(0.995, 0.985);
            background: rgb(212, 232, 255);
        }
    }
}
