@import "variables";

header {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 5px 40px;

    h1 {
        color: #fff;
        font-family: 'Fira Sans', sans-serif;
        font-size: 2em;
        margin: 0.5em 0.5rem;
        text-shadow: 3px 3px 3px black;
    }
}
