@import "variables";

.results {
    background: $form_bg_color;
    color: $form_text_color;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #545454;
    border-radius: $border_radius;
    padding: $form_padding;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);

    strong {
        font-weight: bold;
    }
}